# dependencias
node_modules/

# build
dist/
dist-ssr/
*.tsbuildinfo

# Netlify (metadatos locales del CLI, no del proyecto)
.netlify/

# variables de entorno reales (NUNCA subir esto a GitHub)
.env
.env.local
.env.*.local

# editores / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
